@font-face {
  font-family: 'Quicksand';
  src: url('/public/assets/Quicksand\ font\ 1/Quicksand-VariableFont_wght.ttf') format('woff2');
}
body{
  font-family: 'Quicksand';
}
.educationalQualifications {
    margin-bottom: 24px;
  }
  
  .dropDown {
    background-color: rgba(219, 239, 255, 1);
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .dropDown span {
    margin-left: 16px;
  }
  .stepInputContainer .mb-8 {
    margin-bottom: 8px;
  }
  
  .stepInputs {
    background-color: rgb(255,255,255,1);
    padding: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
  
  .stepInputContainer .stepInputs .wSmall {
    width: 180px;
  }
  
  .doubleInputContainer {
    display: flex;
    justify-content: normal;
    align-items: center;
    gap: 24px;
  }
  
  .singleInputContainer {
    flex: 1;
  }

  .singleInputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
  }
  
  .singleInputContainer label {
    color: rgba(102, 102, 102, 1);
    font-size: 12px;
  }
  
  .singleInputContainer input,
  .singleInputContainer select {
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    padding-bottom: 4px;
    font-size: 16px;
    font-family: 'Quicksand';
    font-weight: 600;
  }
  
  .singleInputContainer input:focus {
    outline: none;
  }
  
  .singleInputContainer input[type="number"]::-webkit-inner-spin-button,
  .singleInputContainer input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  .wSmall {
    width: 180px;
  }
