@font-face {
    font-family: 'Quicksand';
    src: url('/public/assets/Quicksand\ font\ 1/Quicksand-VariableFont_wght.ttf') format('woff2');
  }
  body{
    font-family: 'Quicksand';
  }
.stepMovingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 32px 0px 21px;
  }
  .nextPreviousButton {
   cursor: pointer;
    width: 90px;
    height: 28px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    border: none;
    background-color: rgba(63, 210, 139, 1);
    color:rgba(31, 40, 52, 1);
    font-weight: 600;
    font-size: 14px;
    font-family: 'Quicksand';
  }