@font-face {
  font-family: "Quicksand";
  src: url("/public/assets/Quicksand font 1/Quicksand-VariableFont_wght.ttf") format("woff2");
}
body {
  font-family: "Quicksand";
}

.mainComponent {
  background-color: rgb(238, 238, 238);
  padding: 35px 24px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.mainComponent .timeSlotContainer {
  background-color: rgb(255, 255, 255);
  padding: 35px 24px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
  margin-top: 24px;
}
.mainComponent .timeSlotContainer > h1 {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}
.mainComponent .timeSlotContainer .radioContainer .radioContainerLabel {
  font-size: 12px;
  color: rgb(102, 102, 102);
  padding-bottom: 12px;
}
.mainComponent .timeSlotContainer .radioContainer .radioContainerOptions {
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  gap: 16px;
}
.mainComponent .timeSlotContainer .radioContainer .radioContainerOptions .singleRadioContainer {
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 8px;
}
.mainComponent .timeSlotContainer .radioContainer .radioContainerOptions .singleRadioContainer input[type=radio] {
  width: 20px;
  height: 24px;
  accent-color: rgb(31, 122, 84);
  margin: 0px;
}
.mainComponent .timeSlotContainer hr {
  margin: 16px 0px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.mainComponent .timeSlotContainer .technologiesContainer {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  gap: 16px;
}
.mainComponent .timeSlotContainer .technologiesContainer .technologiesContainerLabel {
  font-size: 12px;
  color: rgb(102, 102, 102);
}
.mainComponent .timeSlotContainer .technologiesContainer .singleCheckboxContainer {
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 9px;
}
.mainComponent .timeSlotContainer .technologiesContainer .singleCheckboxContainer input[type=checkbox] {
  background-color: black;
  padding: 10px;
  width: 18px;
  height: 24px;
  margin: 0px;
  accent-color: rgb(31, 122, 84);
}
.mainComponent .timeSlotContainer .technologiesContainer .singleCheckboxContainer label {
  display: inline-block;
}
.mainComponent .timeSlotContainer .uploadResumeContainer span {
  color: rgb(31, 122, 84);
  font-size: 14px;
}
.mainComponent .timeSlotContainer .uploadResumeContainer .inputFileLabel {
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: rgb(31, 122, 84);
}
.mainComponent .timeSlotContainer .uploadResumeContainer #inputFile {
  display: none;
}
.mainComponent .timeSlotContainer .uploadResumeContainer #inputFile::-webkit-file-upload-button {
  background-color: rgb(255, 255, 255);
  border: none;
}

@media screen and (max-width: 376px) {
  .mainContainer {
    padding-bottom: 76px;
    overflow-y: hidden;
  }
  .mainContainer .goUpComponent {
    bottom: 48px;
  }
  .mainContainer .listContainer .jobContainer .jobRoleContainer {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: column;
  }
  .mainContainer .listContainer .jobContainer .applyInJob {
    position: fixed;
    top: auto;
    bottom: 0px;
    left: 0px;
    color: rgb(209, 1, 7);
    font-size: 12px;
    border-radius: 2px;
    width: 100vw;
    overflow: hidden;
  }
  .mainContainer .listContainer .jobContainer .applyInJob .applyButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 210, 139);
    color: rgb(37, 49, 63);
    width: 100vw;
    height: 28px;
    border: 0px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    font-family: "Quicksand";
    font-weight: 600;
  }
  .mainContainer .screenMobile {
    display: none;
  }
}/*# sourceMappingURL=Timeslot.module.css.map */